@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
*,*::after,*::before{box-sizing: border-box;}
body{font-family: 'Montserrat', sans-serif;line-height: 1.4;margin: 0;}
h1,h2,h3,h4,h5,h6{line-height: 1.2;}
p{font-size: 16px;line-height: 24px;font-weight: 400;}
a{text-decoration: none;}
ul{padding: 0;list-style-type: none;margin: 0;}
img{vertical-align: middle;max-width: 100%;}
.btn{display: inline-block;padding: 1.2rem 2.4rem;background-color: #090530;color: #ffffff;text-transform: uppercase;letter-spacing: 1.6px;
font-weight: 600;border-radius: 8px;transition : all .4s ease-in-out;}
.btn:hover{transform: translateY(-8px);background-color: coral;}
.row{margin: 0 -16px;display: flex;flex-wrap: wrap;}
.m-auto{margin: auto;}
/* container */
@media(min-width:1200px){
  .container{max-width: 1320px;margin: auto;}
}
.container{padding: 0 16px;width: 100%;}
/* container */
/* column */
@media(min-width:1200px){
  .column.half{flex: 0 0 50%;}
  .column.three{flex: 0 0 25%;}
  .column.four{flex: 0 0 33.3%;}
  .column.eight{flex: 0 0 66.666667%;}
  .column.ten{flex: 0 0 83.333333%;}
}
.column{width:100%;padding: 0 16px;}
/* column */
/* header */
header{padding: 16px 0;}
header nav{display: flex;justify-content: space-between;align-items: center;}
header nav .nav-logo{font-weight: 700;font-size: 24px;color: #090530;}
header nav .links ul{display: flex;margin: 0 -16px;}
header nav .links ul li{padding: 0 16px;}
header nav .links ul li a{font-weight: 600;font-size: 16px;color: #090530;border-bottom: 2px solid transparent;transition : all .4s ease-in-out;padding-bottom: 4px;}
header nav .links ul li a:hover{color: coral;}
header nav .links ul li a.active{border-color: coral;}
/* header */
/* section 1 */
.section1{padding:128px 0;text-align: center;}
.section1 .content{max-width: 720px;margin: auto;}
.section1 .content h1{font-weight: 300;font-size: 56px;margin: 0;}
.section1 .content p{margin: 24px 0 0;}
.section1 .content .btn{margin: 40px 0 0;}
/* section 1 */
/* section 2 */
.section2 ul{display: flex;margin: 0 -12px;justify-content: center;}
.section2 ul li{padding: 0 12px;}
/* section 2 */
/* img-content-horizontal */
.img-content-horizontal{padding-top: 128px;}
.img-content-horizontal .img-area img{width: 100%;border-radius: 8px;}
@media(min-width:1200px){
  .img-content-horizontal .img-area img{height: 560px;object-fit: cover;object-position: center;}
}
.img-content-horizontal .content-area{display: flex;flex-direction: column;height: 100%;align-items: flex-start;justify-content: center;}
.img-content-horizontal .content-area h2{font-weight: 300;font-size: 48px;margin: 0;}
.img-content-horizontal .content-area p{margin: 24px 0 0;}
.img-content-horizontal .content-area .btn{margin: 40px 0 0;}
/* img-content-horizontal */
/* img-content-vertical */
.img-content-vertical{padding-top: 128px;}
.img-content-vertical .img-area img{width: 100%;border-radius: 8px;}
@media(min-width:1200px){
  .img-content-vertical .img-area img{height: 320px;object-fit: cover;object-position: center;}
}
.img-content-vertical .content-area{margin-top: 32px;text-align: center;}
.img-content-vertical .content-area h3{font-weight: 300;font-size: 40px;margin: 0;}
.img-content-vertical .content-area p{margin: 24px 0 0;}
.img-content-vertical .content-area .btn{margin: 40px 0 0;}
/* img-content-vertical */
/* footer */
footer{padding: 72px 0 32px;}
footer .footer-inner{display: flex;justify-content: space-between;align-items: center;}
footer .footer-inner .footer-logo{font-weight: 700;font-size: 24px;color: #090530;}
footer .footer-inner .links ul{display: flex;margin: 0 -16px;}
footer .footer-inner .links ul li{padding: 0 16px;}
footer .footer-inner .links ul li a{font-weight: 600;font-size: 16px;color: #090530;transition : all .4s ease-in-out;}
footer .footer-inner .links ul li a:hover{color: coral;}
footer .footer-inner .footer-text{margin: 0;}
/* footer */
/* breadcrumb */
.breadcrumb{display: flex;justify-content: center;align-items: center;min-height: 320px;background-color: #c4c4c4;text-align: center;}
.breadcrumb h2{font-size: 32px;font-weight: 600;margin: 0 0 16px;}
.breadcrumb ul{display: flex;margin: 0 -16px;justify-content: center;}
.breadcrumb ul li a{color: #686868;font-weight: 600;}
.breadcrumb ul li{padding: 0 16px;color: #004F88;font-weight: 600;position: relative;}
.breadcrumb ul li:not(:last-child)::after{position: absolute;content: "/";right: -4px;top: 0;}
/* breadcrumb */
/* section 3 */
.section3{padding: 128px 0 0;}
.section3 h2{font-size: 40px; line-height: 48px;margin: 0 0 56px;font-weight: 300;}
/* section 3 */
/* card */
.card .img-area img{width: 100%;border-radius: 8px 8px 0 0;}
@media(min-width:1200px){
  .card .img-area img{height: 240px;object-fit: cover;object-position: center;}
}
.card .content-area{padding: 24px;background-color: #ffffff;box-shadow: 0 10px 16px rgb(0 0 0 / 12%);border-radius: 0 0 8px 8px;}
.card .content-area h3{margin: 0;font-size: 24px;font-weight: 600;}
.card .content-area p{margin: 4px 0 0;font-size: 12px;color: #6f6f6f;text-transform: uppercase;letter-spacing: 2px;font-weight: 600;}
.card .content-area ul{display: flex;margin: 8px -4px 0;}
.card .content-area ul li{padding: 0 4px;}
.card .content-area ul li a{display: flex;justify-content: center;align-items: center;width: 40px;height: 40px;border-radius: 4px;background-color: #c4c4c4;}
/* card */
/* section4 */
.section4{padding: 128px 0 0;}
.section4 h2{font-size: 40px; line-height: 48px;margin: 0 0 56px;font-weight: 300;}
/* section4 */
/* service */
.service{display: flex;flex-direction: column;margin-bottom: 56px;}
.service .icon-area{width: 64px;height: 64px;border-radius: 8px;background-color: #c4c4c4;display: flex;align-items: center;justify-content: center;}
.service .content h3{font-size: 24px;font-weight: 400;}
.service .content a{font-weight: 700;display: flex;align-items: center;color: #000000;font-size: 14px;}
.service .content a::after{position: relative;content: "";width: 16px;height: 2px;background-color: #000000;margin-left: 8px;}
/* service */